/* @import url("https://fonts.googleapis.com/css?family=Rubik&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;1,100;1,200&display=swap");

body {
  background: linear-gradient(0deg, #fff, 50%, #deeefe);
  font-family: "Poppins", sans-serif;
  background: black;
  height: 100 !important;
}

.container-fluid {
  overflow: hidden;
  margin-top: 250px;
  background: black;
  color: #627482 !important;
  margin-bottom: 0;
  padding-bottom: 0;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #d45235 !important;
  font-size: 20px;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

h3 {
  font-size: calc(
    34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.imgwrap {
  padding-left: 1.5rem;
  text-align: justify;
  font-size: 24px;
  font-weight: bold;
}

.tagline {
  padding-left: 5.25rem;
  font-size: 18px;
  font-weight: lighter !important;
}

.box-margin {
  margin-top: 10rem !important;
  margin-left: 3rem !important;
  margin-right: 3rem !important;
  /* text-align: center; */
}

ul {
  line-height: 40px;
}

i {
  padding-right: 1rem;
}

.contact-form {
  background-color: #272727 !important;
  border-color: #272727 !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #d45235 !important;
  border-color: #d45235 !important;
}
